$prime: #BD5D38;
$text-color: #343A40;
$text-color-light: #6c757d;
$bg-color: #495057;
$text-color-dark: #343a40;
$content-bg-color: white;
$nav-bg-color: #BD5D38;
$font-family: 'Roboto', sans-serif;
$font-weight: 400;
$navbar-hover-color: rgba(255, 255, 255, 0.75);
$navbar-color: rgba(255, 255, 255, 0.25);